[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
awsume = {editable = true,path = "."}
pylint = "*"
botostubs = ">=0.12"
pytest = ">=6.0.2"
pytest-cov = ">=2.10.1"
pytest-pythonpath = "~0.7"
coverage = ">=5.3"
watchdog = ">=1.0.0"

[packages]
pluggy = "~1.0.0"
boto3 = "*"
psutil = ">=5.7.2"
colorama = ">=0.4.0"
pyyaml = ">=5.4"
xmltodict = ">=0.12.0"
argcomplete = ">=1.12.1"

[scripts]
test = "pytest test --cov=awsume --cov-report term"
test-html = "pytest test --cov=awsume --cov-report html:coverage/html"
test-watch = "watchmedo shell-command --patterns='*.py;*.txt' --recursive --command='pipenv run test-html -s'"
build = "python setup.py sdist"
deploy = "twine upload dist/*"
version = "python -c \"from awsume.__data__ import version; print(version)\""
